<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540041693797-a2n4r7pcags8p60i7r3ucbi4m5mh3hur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540041693797-a2n4r7pcags8p60i7r3ucbi4m5mh3hur</string>
	<key>API_KEY</key>
	<string>AIzaSyAKKtNv9nOtCRyvTfhnGMVFEVlR58xWVmI</string>
	<key>GCM_SENDER_ID</key>
	<string>540041693797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onatcipli.dipity</string>
	<key>PROJECT_ID</key>
	<string>dipity-716b0</string>
	<key>STORAGE_BUCKET</key>
	<string>dipity-716b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540041693797:ios:57d0b2958873d027c9148c</string>
	<key>DATABASE_URL</key>
	<string>https://dipity-716b0-default-rtdb.firebaseio.com</string>
</dict>
</plist>